<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="warmup" type="warmup.settings.WarmupConfiguration, warmup"/>
  </configSections>

  <warmup
    sourceControlWarmupLocation="git://github.com/ferventcoder/warmup-templates.git"
    sourceControlType="git"
    />
  
</configuration>