<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="warmup" type="warmup.infrastructure.settings.WarmupConfiguration, warmup"/>
  </configSections>

  <!-- 
    replacementToken="__NAME__"
    sourceControlType="svn|git|file"
    -->
  <warmup sourceControlType="file" sourceControlWarmupLocation="C:\CODE\_templates">
    <ignoredExtensions>
      <clear/>
      <add ext="exe"/>
      <add ext="dll"/>
      <add ext="pdb"/>
      <add ext="jpg"/>
      <add ext="png"/>
      <add ext="gif"/>
      <add ext="mst"/>
      <add ext="msi"/>
      <add ext="msm"/>
      <add ext="gitignore"/>
      <add ext="idx"/>
      <add ext="pack"/>
      <add ext="suo"/>
      <add ext="ico"/>
      <add ext="nupkg"/>
      <add ext="zip"/>
      <add ext="7z"/>
    </ignoredExtensions>
    <ignoredFolders>
      <add folder=".svn" />
      <add folder=".git" />
    </ignoredFolders>

    <textReplaces>
      <add find="__YO__" replace="Dude, that was so sweet!" />
    </textReplaces>
  </warmup>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
