<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="warmup" type="warmup.settings.WarmupConfiguration, warmup"/>
  </configSections>

  <!-- 
    replacementToken="__NAME__"
    sourceControlType="svn|git|file"
    -->
  <warmup sourceControlType="file"  
          sourceControlWarmupLocation="C:\CODE\Scratch\WarmUpTemplates\">
    <ignoredExtensions>
      <clear/>
      <add ext="exe"/>
      <add ext="dll"/>
      <add ext="pdb"/>
      <add ext="jpg"/>
      <add ext="png"/>
      <add ext="gif"/>
      <add ext="mst"/>
      <add ext="msi"/>
      <add ext="msm"/>
      <add ext="gitignore"/>
      <add ext="idx"/>
      <add ext="pack"/>
      <add ext="suo"/>
    </ignoredExtensions>
  </warmup>

</configuration>